<div class="header">
  <h1>Welcome to the lottery game</h1>
</div>
<div class="lottery">
  <div class="lottery-header">
    Your lottery games
  </div>
  <div class="start-button">
    <button type="button" class="btn btn-primary">Start</button>
  </div>
</div>
<div class="eurojackpot">
  <div class="lottery-header">
    Your eurjackpot games
  </div>
  <div class="start-button">
    <button type="button" class="btn btn-primary">Start</button>
  </div>
</div>
